* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%; /* Make the canvas take the full width of the page */
    height: 100%; /* Make the canvas take the full height of the page */
    display: block; /* Display the canvas as a block element */
    background: url('./image.png') no-repeat center center; /* Set the background image */
    background-size: cover; 
}

html, body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

